body {
  background: #003399;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  font: normal 16px Verdana, sans-serif;
  color: #222;
}

div.panel { 
  background: #DEDBFD;
  border-radius: 4px;
  border: 1px solid white;
  width: 33%;
  overflow-y: auto;
  top: 4px;
}

div.panel.left { 
  float: left; 
}
div.panel.right {
  float: right; 
}

div.panel.center { 
  display: inline-block; 
}

table, td, th {
  margin: 0 auto;
  border:1px solid black;
}

span.header {
  font-size:x-large;
  font-weight:bold;
}

span.header.problem {
  color: #FF0000;
}

span.header.warning {
  color: #FFA500;
}

tr.problem {
  font-weight: bold;
  font-size:  large;
  color: #FF0000;
}

tr.warning {
  font-weight: bold;
  color: #FFA500;
}

span.last-update {
font-size: small;
}

address {
  font-size: x-small;
}
